*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.home-container{
    display:flex;
    justify-content: center;
    margin: 20px;
}
.home-nav ul li, .button-Contact-us, .pv h1{
    margin:10px;
    padding: 0px 30px;
}
.home-nav ul li a{
    color: #ffffff;
}
.pv h1{
    color: #ffffff;
    font-size: 20px;
    margin-right: 50px;
}
.button-Contact-us button a{
    background-color:#ffffff ;
    color: #000000;
    padding: 6px 15px;
    border: 1px solid #ffffff;
    border-radius: 10px;
}
.words-of-p p{
        margin-top: 20%;
        text-align: center;
        padding: 10px 0px;
        font-size: 50px;
        font-weight: 548; 
        color: #ffffff;
}
.button-gal{
    display: flex;
    justify-content: center;
}


body{
    height: 100vh;
   background-image: url("./img/back-1.png");
   background-position:center;
   background-size:cover;
   background: repeat 3px;;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 43px;
}
.grid-item, .grid-item img{
    width: 100%;
    height: auto;
    text-align: center;
    margin:0px ;
}
.grid-item img{
    width: 48%;
    height: auto;
}